<launch>
  <node pkg="msg_replay" type="msg_replay_node" name="replay_LidarAll_to_localization" output="screen" cwd="node" respawn="true" args="-input_topic /LidarAll -output_topic /LidarAll/replay_to_localization" />
  <node pkg="msg_replay" type="msg_replay_node" name="replay_LidarFrontTop_to_localization" output="screen" cwd="node" respawn="true" args="-input_topic /LidarFrontTop -output_topic /LidarFrontTop/replay_to_localization" />
  <node pkg="msg_replay" type="msg_replay_node" name="replay_LidarFrontRight_to_localization" output="screen" cwd="node" respawn="true" args="-input_topic /LidarFrontRight -output_topic /LidarFrontRight/replay_to_localization" />
  <node pkg="msg_replay" type="msg_replay_node" name="replay_LidarFrontLeft_to_localization" output="screen" cwd="node" respawn="true" args="-input_topic /LidarFrontLeft -output_topic /LidarFrontLeft/replay_to_localization" />
  <node pkg="msg_replay" type="msg_replay_node" name="replay_LidarFrontTop_Localization_to_localization" output="screen" cwd="node" respawn="true" args="-input_topic /LidarFrontTop/Localization -output_topic /LidarFrontTop/Localization/replay_to_localization" />
</launch>
