<launch>
  <arg name="with_rviz" default="true" />
  <arg name="pub_tf" default="true" />
  <arg name="rviz_config" default="U3_b5" />

  <!-- rviz ************************************************************************************* -->
  <group if="$(arg with_rviz)">
      <include file="$(find detection_viz)/launch/rviz.launch" >
          <arg name="rviz_config" value="$(arg rviz_config)" />
      </include>
  </group>

  <!-- TF *************************************************************************************** -->
  <group if="$(arg pub_tf)">
      <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_tf2"    args="0 0 0 0 0 0   /base_link  /lidar" />
  </group>

  <!-- Must-have tf -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="bus_footprint_tf2"    args="-2.75 0 -3.1 0 0 0  /lidar /base_footprint" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="txt_frame_tf2"    args="30 0 0 0 -0.785 0  /base_footprint /txt_frame" />


  <!-- ============================================================== -->
  <!-- Markers -->
  <include file="$(find detection_viz)/launch/markers.launch" >
  </include>


</launch>
