<launch>
        <node name="alignment_b1_v3_match_2d_3d_bbox" pkg="alignment" type="alignment_b1_v3_match_2d_3d_bbox"  output="screen">
                <param name="imgResult_publish" type="bool" value="false" />
                <param name="camera_detection_on_2d" type="bool" value="false" />
                <param name="lidar_detection_on_2d" type="bool" value="false" />
        </node>
</launch>
