build*/
devel*/
CATKIN_IGNORE
.vscode/
*.swp
*.pyc
rospack_cache*
.DS_Store
.cproject
.project
.catkin_workspace
perf.data
perf.data.old
tags
gmon.out
*.log

# using catkin_make tests to generated data
*.weights
*.weight
*.engine
*.aarch64
*.dgpu
*.npy
*.pb
src/sensing/itri_lidarnet/libs/TensorFlow/Installed/
src/sensing/itri_parknet/weights/
src/sensing/itri_openroadnet/libs_opn/TensorFlow/so_x86_64/
src/scripts/ci/*.sqfs
src/sensing/itri_openroadnet/libs_opn/TensorFlow/Installed/
src/sensing/sensing_subsystem_camera/src/LaneNet/\.cproject
src/sensing/sensing_subsystem_camera/src/LaneNet/\.project
src/sensing/sensing_subsystem_camera/src/LaneNet/platform_CMakeList\.txt
*.so
src/sensing/sensing_subsystem_camera/src/LaneNet/data/
src/sensing/localization/src/map_pub/done_map/
src/sensing/sensing_subsystem_camera/resources/
src/sensing/camera_utils/data/front_120.json
src/sensing/camera_utils/data/left_120.json
src/sensing/camera_utils/data/right_120.json
src/sensing/itri_pedcross/models/
src/sensing/itri_pedcross/openpose/
src/bags/
src/dl_data/assets/

src/sensing/itri_lidarnet/lidars_grabber/src/UI/Makefile
