<!-- -*- mode: XML -*- -->

<launch>
  <!-- pedcross input source -->
  <!-- 1: /Tracking2D/front_bottom_60 -->
  <!-- 2: /PathPredictionOutput -->
  <!-- 3: /Tracking3D -->
  <arg name="input_topic" default="3" />

  <!-- Set time to prediction (2fps)-->
  <arg name="prediction_horizon" default="6" />

  <!-- Set if delay or not-->
  <!-- 0: no delay 8 fps -->
  <!-- 1: delay 2 fps -->
  <arg name="delay_node" default="1" />
  <!-- print log-->
  <!-- 0: Dont Print log -->
  <!-- 1: Print execution time log-->
  <!-- 2: Print prediction log-->
  <arg name="print_log" default="0" />
  <!-- 0: Don't transform coordinate-->
  <!-- 1: Transform coordinate-->
  <arg name="tf_map" default="0" />
  <!-- 0: Don't short memory-->
  <!-- 1: Short memory-->
  <arg name="short_mem" default="0"/>
  <!-- True : output csv-->
  <!-- False : Don't output-->
  <arg name="output_csv" default="False"/>
  

  <node pkg="itri_interactive_pp" type="frequency_filter.py" name="filter" cwd="node" output="screen" >
    <param name="input_topic" value="$(arg input_topic)" />
  </node>
  <node pkg="itri_interactive_pp" type="ipp_prediction.py" name="object_path_prediction" cwd="node" output="screen" >
    <param name="input_topic" value="$(arg input_topic)" />
    <param name="delay_node" value="$(arg delay_node)" />
    <param name="prediction_horizon" value="$(arg prediction_horizon)" />
    <param name="print_log" value="$(arg print_log)" />
    <param name="tf_map" value="$(arg tf_map)" />
    <param name="short_mem" value="$(arg short_mem)" />
    <param name="output_csv" value="$(arg output_csv)" />
  </node>  
  <node pkg="itri_interactive_pp" type="ipp_marker.py" name="object_marker" cwd="node" output="screen" />
</launch>
