<!-- -*- mode: XML -*- -->

<launch>
  <!-- pedcross input source -->
  <!-- 1: tracking 2d with front/left/right cameras -->
  <!-- 2: tracking 3d -->
  <arg name="input_topic" default="1" />

  <!-- Set time to prediction (2fps)-->
  <arg name="prediction_horizon" default="4" />

  <!-- Set type of coordinate in input_data and marker-->
  <!-- 1: absolute coordinate map_based -->
  <!-- 2: relative coordinate ego-based -->
  <arg name="coordinate_type" default="1" />

  <!-- rviz markers -->
  <!-- true : use 2d for danger zone -->
  <!-- false: use 3d for danger zone -->
  <!--arg name="use_2d_for_alarm" default="False" /-->

  <!-- rviz markers -->
  <!-- true : show probabiliy -->
  <!-- false: not show probability -->
  <!--arg name="show_probability" default="True" /-->

  <!--<node pkg="itri_tracking_pp" type="itri_tracking_pp" name="itri_tracking_pp" cwd="node" output="screen" /> -->
  <node pkg="itri_interactive_pp" type="frequency_filter.py" name="filter" cwd="node" output="screen" >
    <param name="input_topic" value="$(arg input_topic)" />
  </node>
  <node pkg="itri_interactive_pp" type="ipp_prediction.py" name="object_path_prediction" cwd="node" output="screen" >
    <param name="prediction_horizon" value="$(arg prediction_horizon)" />
    <param name="coordinate_type" value="$(arg coordinate_type)" />
  </node>  
  <node pkg="itri_interactive_pp" type="ipp_marker.py" name="object_marker" cwd="node" output="screen">
    <param name="coordinate_type" value="$(arg coordinate_type)" />
  </node>
</launch>
