<launch>
  <node name="fail_safe" pkg="fail_safe" type="run_fail_safe_checker.py" respawn="true" />
  <node name="load_collector" pkg="fail_safe" type="run_load_collector.py" respawn="true" />
  <node name="pub_car_info" pkg="fail_safe" type="pub_car_info.py" respawn="true" />
  <node name="pad_issue_reporter" pkg="fail_safe" type="run_pad_issue_reporter.py" respawn="true" />
</launch>
