<!-- -*- mode: XML -*- -->

<launch>
  <!-- pedcross input source -->
  <!-- 0: camera front center -->
  <!-- 1: camera front left -->
  <!-- 2: camera front right -->
  <!-- 3: tracking with camera front center -->
  <rosparam param="input_source">3</rosparam>

  <!-- Set max distance(m) to predict pedestrians -->
  <rosparam param="max_distance">50</rosparam>

  <!-- Set danger zone distance(m) to planned path -->
  <rosparam param="danger_zone_distance">2</rosparam>

  <!-- rviz markers -->
  <!-- true : use 2d for danger zone -->
  <!-- false: use 3d for danger zone -->
  <rosparam param="use_2d_for_alarm">false</rosparam>

  <!-- rviz markers -->
  <!-- true : show probabiliy -->
  <!-- false: not show probability -->
  <rosparam param="show_probability">true</rosparam>

  <!--<node pkg="itri_tracking_pp" type="itri_tracking_pp" name="itri_tracking_pp" cwd="node" output="screen" /> -->
  <node pkg="itri_pedcross" type="pedestrian_subcriber.py" name="pedestrian_subcriber" cwd="node" output="screen" />
  <node pkg="itri_pedcross" type="itri_pedcross" name="pedestrian_event" cwd="node" output="screen" />
</launch>
