<!-- -*- mode: XML -*- -->

<launch>
  <!-- pedcross input source -->
  <!-- 0: N/A -->
  <!-- 1: N/A -->
  <!-- 2: N/A -->
  <!-- 3: N/A -->
  <!-- 4: tracking with front/left/right/fov30 cameras -->
  <arg name="input_source" default="4" />

  <!-- Set max distance(m) to predict pedestrians -->
  <arg name="max_distance" default="70" />

  <!-- Set danger zone distance(m) to planned path -->
  <arg name="danger_zone_distance" default="2" />

  <!-- rviz markers -->
  <!-- true : use 2d for danger zone -->
  <!-- false: use 3d for danger zone -->
  <arg name="use_2d_for_alarm" default="False" />

  <!-- rviz markers -->
  <!-- true : show probabiliy -->
  <!-- false: not show probability -->
  <arg name="show_probability" default="True" />

  <!--<node pkg="itri_tracking_pp" type="itri_tracking_pp" name="itri_tracking_pp" cwd="node" output="screen" /> -->
  <node pkg="itri_pedcross" type="skip_frame_server.py" name="skip_frame_server" cwd="node" output="screen" />
  <node pkg="itri_pedcross" type="pedestrian_subscriber.py" name="pedestrian_subscriber" cwd="node" output="screen" />
  <node pkg="itri_pedcross" type="alert_collector" name="alert_collector" cwd="node" output="screen" />
  <node pkg="itri_pedcross" type="itri_pedcross" name="pedestrian_event" cwd="node" output="screen">
    <param name="input_source" value="$(arg input_source)" />
    <param name="max_distance" value="$(arg max_distance)" />
    <param name="danger_zone_distance" value="$(arg danger_zone_distance)" />
    <param name="use_2d_for_alarm" value="$(arg use_2d_for_alarm)" />
    <param name="show_probability" value="$(arg show_probability)" />
  </node>
</launch>
