<!-- -*- mode: XML -*- -->

<launch>
  <!-- Node parameters -->

  <!-- Input source -->
  <!-- 1: /LidarDetection -->
  <!-- 2: /RadarDetection -->
  <!-- 3: /CamObjFrontCenter -->
  <!-- 4: /abs_virBB_array -->
  <!-- 5: /rel_virBB_array -->
  <!-- otherwise: /SensorFusion -->
  <arg name="input_source" default="0" />

  <!-- Input/Output FPS -->
  <arg name="input_fps" default="10.0" />
  <arg name="output_fps" default="10.0" />

  <!-- Move PP AR(1) input's origin to (pp_input_shift, pp_input_shift) -->
  <arg name="pp_input_shift_m" default="150.0" />

  <!-- Rviz marker lifetime -->
  <!-- 0: Auto-assign as (1 / output_fps) -->
  <!-- other value: manually assign -->
  <arg name="m_lifetime_sec" default="1.0" />

  <!-- Rviz markers -->
  <arg name="gen_markers" default="1" />
  <arg name="show_classid" default="0" />
  <arg name="show_tracktime" default="0" />
  <arg name="show_source" default="0" />
  <arg name="show_distance" default="0" />
  <arg name="show_absspeed" default="0" />

  <!-- <=0: No show pp -->
  <!--   1: Show pp point w/ confidence ellipse -->
  <!-- >=2: Show pp point w/o confidence ellipse -->
  <arg name="show_pp" default="1" />
  <arg name="pp_obj_min_kmph" default="3.0" />
  <arg name="pp_obj_max_kmph" default="50.0" />

  <!-- Launch node -->
  <node pkg="itri_tracking_pp" type="itri_tracking_pp" name="itri_tracking_pp" cwd="node" output="screen">
    <param name="input_source" value="$(arg input_source)" />
    <param name="input_fps" value="$(arg input_fps)" />
    <param name="output_fps" value="$(arg output_fps)" />
    <param name="pp_input_shift_m" value="$(arg pp_input_shift_m)" />
    <param name="m_lifetime_sec" value="$(arg m_lifetime_sec)" />
    <param name="gen_markers" value="$(arg gen_markers)" />
    <param name="show_classid" value="$(arg show_classid)" />
    <param name="show_tracktime" value="$(arg show_tracktime)" />
    <param name="show_source" value="$(arg show_source)" />
    <param name="show_distance" value="$(arg show_distance)" />
    <param name="show_absspeed" value="$(arg show_absspeed)" />
    <param name="show_pp" value="$(arg show_pp)" />
    <param name="pp_obj_min_kmph" value="$(arg pp_obj_min_kmph)" />
    <param name="pp_obj_max_kmph" value="$(arg pp_obj_max_kmph)" />
  </node>
</launch>
