<launch>
  <node name="parknet"
    pkg="itri_parknet"
    type="itri_parknet"
    output="screen"
    args="-camera_port= 
          -publish_detection_results=true
          -front_120_sx_compensation=0
          -left_120_sx_compensation=0
          -right_120_sx_compensation=0.4
          -front_120_sy_compensation=0
          -left_120_sy_compensation=0
          -right_120_sy_compensation=0
          -display_gui=false"
  />
</launch>
