<launch>
	<!-- ****** Mode Switch ***** -->
	<arg name="mode" default="0" />
	<node pkg="display" type="display_hino" name="display_hino" output="screen" if="$(eval arg('mode') == 0)"/>
	<node pkg="display" type="display_b1"   name="display_b1"   output="screen" if="$(eval arg('mode') == 1)"/>
</launch>

















