<!-- -*- mode: XML -*- -->
<launch>
    <!-- Debug -->
	<arg name="pub_decompress" default="false"/>
    <param name="pub_decompress" value="$(arg pub_decompress)" />

    <!-- Node -->
    <node pkg="raw_points_processor" type="raw_points_processor_compressor" name="raw_points_compressor" output="screen" cwd="node" respawn="true"  />
    <node pkg="raw_points_processor" type="raw_points_processor_decompressor" name="raw_points_decompressor" output="screen" cwd="node" respawn="true"  />

</launch>










