<launch>

<!-- ****** Set Period Here ***** -->
	<arg name="period_ms" default="500" />
	<arg name="mode" default="0" />
	
<!-- ****************************** -->
	<node pkg="rosbag_extractor" type="rosbag_extractor_hino" name="rosbag_extractor_hino" cwd="node" args="$(arg period_ms)" 
																				output="screen" if="$(eval arg('mode') == 0)"/>

	<node pkg="rosbag_extractor" type="rosbag_extractor_hino" name="rosbag_extractor_hino" cwd="node" args="$(arg period_ms) NonGound" 
																				output="screen" if="$(eval arg('mode') == 1)"/>
	
</launch>

















