<!-- -*- mode: XML -*- -->

<launch>
  <!-- Node parameters -->

  <!-- Input source -->
  <!-- 1: /CameraDetection/polygon -->
  <!-- others: /CamObjFrontCenter -->
  <arg name="input_source" default="0" />

  <!-- Input/Output FPS -->
  <arg name="input_fps" default="10.0" />
  <arg name="output_fps" default="10.0" />

  <!-- Move PP AR(1) input's origin to (pp_input_shift, pp_input_shift) -->
  <arg name="pp_input_shift_m" default="150.0" />

  <!-- 1: Show pp centers -->
  <!-- 2: Show pp ellipses -->
  <!-- 3: Show pp ellipses & ellipse vertices -->
  <!-- otherwise: No show pp -->
  <arg name="show_pp" default="2" />

  <arg name="pp_obj_min_kmph" default="3.0" />
  <arg name="pp_obj_max_kmph" default="50.0" />

  <!-- Launch node -->
  <node pkg="itri_tracking_2d" type="itri_tracking_2d" name="itri_tracking_2d" cwd="node" output="screen">
    <param name="input_source" value="$(arg input_source)" />
    <param name="input_fps" value="$(arg input_fps)" />
    <param name="output_fps" value="$(arg output_fps)" />
    <param name="pp_input_shift_m" value="$(arg pp_input_shift_m)" />
    <param name="pp_obj_min_kmph" value="$(arg pp_obj_min_kmph)" />
    <param name="pp_obj_max_kmph" value="$(arg pp_obj_max_kmph)" />
  </node>
</launch>
