<?xml version="1.0"?>
<robot name="ADV" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- base frame (lidar) -->
    <link name="GUI_base">
    </link>


    <!-- base frame (lidar frame) to the footprint (ground level) -->
    <joint name="base_joint" type="fixed">
        <origin xyz="0 0 -3.0" rpy="0 0 0" />
        <parent link="GUI_base"/>
        <child link="GUI_base_footprint" />
    </joint>


    <link name="GUI_base_footprint">
    </link>

</robot>
