<?xml version="1.0"?>

<launch>

    <node pkg="costmap_2d" type="costmap_2d_node" respawn="false" name="costmap_lidar_all" output="screen" clear_params="true" ns="A">
        <rosparam file="$(find issue_reporter)/launch/params/costmap_params_lidar_all.yaml" command="load" ns="costmap"/>
    </node>

</launch>
