<!-- -*- mode: XML -*- -->
<launch>
  <arg name="start_pose_topic_name" default="/initialpose_offline"/>
  <arg name="goal_topic_name" default="/move_base_simple/goal"/>
  <arg name="output_topic_name" default="/planning/mission_planning/route"/>
  <arg name="map_topic_name" default="/map/vector_map"/>
  <arg name="visualization_topic_name" default="/planning/mission_planning/route_marker"/>
  <arg name="checkpoint_topic_name" default="/checkpoint"/>
  <node pkg="mission_planner" type="mission_planner" name="mission_planner" output="screen">
    <param name="map_frame" value="map"/>
    <param name="base_link_frame" value="rear_wheel"/>
    <remap from="~input/start_pose" to="$(arg start_pose_topic_name)"/>
    <remap from="~input/goal_pose" to="$(arg goal_topic_name)"/>
    <remap from="~input/checkpoint" to="$(arg checkpoint_topic_name)"/>
    <remap from="~input/vector_map" to="$(arg map_topic_name)"/>
    <remap from="~output/route" to="$(arg output_topic_name)"/>
    <remap from="~debug/route_marker" to="$(arg visualization_topic_name)"/>
  </node>
</launch>
