<!-- -*- mode: XML -*- -->
<launch>
  <node name="front_bottom_60_relay"
    pkg="topic_tools"
    type="relay"
    args="/cam/front_bottom_60/relay /cam/front_bottom_60"
    output="screen"
  />
  <node name="front_top_far_30_relay"
    pkg="topic_tools"
    type="relay"
    args="/cam/front_top_far_30/relay /cam/front_top_far_30"
    output="screen"
  />
  <node name="front_top_close_120_relay"
    pkg="topic_tools"
    type="relay"
    args="/cam/front_top_close_120/relay /cam/front_top_close_120"
    output="screen"
  />
  <node name="right_front_60_relay"
    pkg="topic_tools"
    type="relay"
    args="/cam/right_front_60/relay /cam/right_front_60"
    output="screen"
  />
  <node name="right_back_60_relay"
    pkg="topic_tools"
    type="relay"
    args="/cam/right_back_60/relay /cam/right_back_60"
    output="screen"
  />
  <node name="left_front_60_relay"
    pkg="topic_tools"
    type="relay"
    args="/cam/left_front_60/relay /cam/left_front_60"
    output="screen"
  />
  <node name="left_back_60_relay"
    pkg="topic_tools"
    type="relay"
    args="/cam/left_back_60/relay /cam/left_back_60"
    output="screen"
  />
  <node name="back_top_120_relay"
    pkg="topic_tools"
    type="relay"
    args="/cam/back_top_120/relay /cam/back_top_120"
    output="screen"
  />
</launch>
