<launch>

	<include file="$(find drivenet)/launch/b1_v2_drivenet_group_a.launch"/>

	<include file="$(find drivenet)/launch/b1_v2_drivenet_group_b.launch"/>
	
	<include file="$(find drivenet)/launch/b1_v2_drivenet_group_c.launch"/>

	<node name="convex_fusion"
		pkg="convex_fusion"
		type="convex_fusion_b1_v2"/>

	<node name="drivenet"
		pkg="drivenet"
		type="drivenet_node_img_repub"/>

	<node name="msg_recorder"
		pkg="msg_recorder"
		type="msg_recorder.py"
		args="-A --NO_KEY_IN"/>

	<include file="$(find detection_viz)/launch/itriadv_viz.launch"/>

</launch>
