<!-- -*- mode: XML -*- -->
<launch>

  <arg name="output/lidar_noground_topic" default="/sensing/lidar/no_ground/pointcloud" />
  <arg name="output/objects_topic" default="/perception/object_recognition/objects" />
  <arg name="input/lidar_noground_topic" default="ring_edge_point_cloud" /> <!--NonGround_sensor_msgs2-->
  <arg name="input/objects_topic" default="objects" /><!--objects Tracking3D_aw-->
  <arg name="output/traffic_light" default="/perception/traffic_light_recognition/traffic_light_states" />

  <arg name="right_waylength" default="3" />
  <arg name="left_waylength" default="6" />

  <arg name="use_virtual_objects" default="false" />

  <!--tf rear_wheel-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="rearwheel2baselink" args="-3.8 0 0 0 0 0  /base_link /rear_wheel"/>

  <!-- planning initial node -->
  <node pkg="planning_initial" type="planning_initial" name="planning_initial" output="screen" cwd="node" respawn="true">
	<remap from="output/lidar_no_ground" to="$(arg output/lidar_noground_topic)" />
	<remap from="output/objects" to="$(arg output/objects_topic)" />
        <remap from="input/lidar_no_ground" to="$(arg input/lidar_noground_topic)" />
	<remap from="input/objects" to="$(arg input/objects_topic)" />
	<remap from="output/traffic_light" to="$(arg output/traffic_light)" />
        <param name="use_virtual_objects" value="$(arg use_virtual_objects)" />
  </node>
  
  <!-- Grid map fusion pub node-->
  <node pkg="occ_grid_lane" type="occ_grid_lane" name="occ_grid_lane" output="screen" cwd="node" respawn="true">
	<param name="right_waylength" value="$(arg right_waylength)" />
	<param name="left_waylength" value="$(arg left_waylength)" />
  </node>

</launch>
