<!-- -*- mode: XML -*- -->
<launch>
	<!-- nodes -->
	<node pkg="rad_grab" type="radfront_delphi" name="radfront_delphi" output="screen" cwd="node" respawn="true"  />
	<node pkg="rad_grab" type="radar_all" name="radar_all" output="screen" cwd="node" respawn="true"  />
	<node pkg="rad_grab" type="radfrontsub_can" name="radfrontsub_can" output="screen" cwd="node" respawn="true"  />
	<node pkg="rad_grab" type="radfrontsub_bbox" name="radfrontsub_bbox" output="screen" cwd="node" respawn="true"  />
	<node pkg="rad_grab" type="radfrontsub_pcloud" name="radfrontsub_pcloud" output="screen" cwd="node" respawn="true"  />
</launch>
