<!-- -*- mode: XML -*- -->
<launch>

	<node pkg="ukf_mm" type="ukf_mm" name="ukf_mm" output="screen" cwd="node" respawn="true"  >
		<param name="look_ahead_time_straight" value="1.6" type="double"/>
                <param name="look_ahead_time_turn" value="1.6" type="double"/><!--1.1-->
		<param name="ID_1" value="61" type="int"/>
		<param name="ID_2" value="79" type="int"/>
		<param name="ID_3" value="83" type="int"/>
		<param name="ID_4" value="104" type="int"/>
	</node>
	<!--node pkg="tf2_ros" type="static_transform_publisher" name="lidar2baselink" args="0 0 0 0 0 0  /base_link /lidar"/-->

</launch>
