<launch>
  <arg name="tracking_topic" default="Tracking3D" />
  <arg name="radar_topic" default="AlphaDetection" />
  <arg name="out_topic" default="lane_event" />
  <arg name="C1" default="True" />
  <arg name="C2" default="True" />
  <arg name="C3" default="True" />

  <node pkg="itri_grid_pp" type="grid_pp.py" name="itri_grid_pp" output="screen" clear_params="true">
    <param name="tracking_topic" value="$(arg tracking_topic)" />
    <param name="radar_topic" value="$(arg radar_topic)" />
    <param name="out_topic" value="$(arg out_topic)" />
    <param name="C1" value="$(arg C1)" />
    <param name="C2" value="$(arg C2)" />
    <param name="C3" value="$(arg C3)" />
  </node>
</launch>
