<launch>
  <node pkg="pc2_compressor" type="pc2_compressor_node" name="pc2_compressor_node_front_top" output="screen" cwd="node" respawn="true" args="-input_topic /LidarFrontTop/Raw/xyzir -output_topic /LidarFrontTop/Compressed -compression_format snappy" />
  <node pkg="pc2_compressor" type="pc2_compressor_node" name="pc2_compressor_node_front_left" output="screen" cwd="node" respawn="true" args="-input_topic /LidarFrontLeft/Raw/xyzir -output_topic /LidarFrontLeft/Compressed -compression_format snappy" />
  <node pkg="pc2_compressor" type="pc2_compressor_node" name="pc2_compressor_node_front_right" output="screen" cwd="node" respawn="true" args="-input_topic /LidarFrontRight/Raw/xyzir -output_topic /LidarFrontRight/Compressed -compression_format snappy" />
</launch>
